.widget-uptime {
  .monitor {
    clear: both;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-right: 0.2em;
    padding-left: 0.2em;
  }
  .name {
    text-align: left;
    padding: 0.4ex 0;
    white-space: nowrap;
    overflow: hidden;
  }
  .uptime {
    float: right;
    font-size: 75%;
    padding: 1.1ex 0 0.7ex 0.3em;
  }

  .S0 { // paused
    background: rgba(128,128,128,0.5);
  }
  .S1 { // not yet checked
    background: rgba(200,255,200,0.5);
  }
  .S2 { // up
    background: rgba( 50,205, 50,0.5);
  }
  .S8 { // seems down
    background: rgba(200, 50, 50,0.5);
  }
  .S9 { // down
    background: rgba(255, 50, 50,0.5);
  }
}
