
<% content_for :title do %>Questionmark Dashboard<% end %>
<div class="gridster">
  <ul>

    <!-- row 1 -->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="reach_this_year" data-view="Meter" data-min="0" data-max="200000" data-title="Totaal bereik" data-moreinfo="Web + app in 2015. Doel 200K" style="background-color: #97ba4c"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="visitor_count" data-view="Number" data-unordered="true" data-title="Unieke gebruikers" data-moreinfo="Op web + app in de afgelopen 30 dagen" style="background-color: #97ba4c"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="mixpanel_signup" data-view="Number" data-title="Signups" data-moreinfo="Afgelopen 30 dagen" style="background-color: #97ba4c"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="mixpanel_submit_product" data-view="Number" data-title="Ingezonden producten" style="background-color: #97ba4c" data-moreinfo="Afgelopen 30 dagen"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="products_viewed" data-view="Number" data-title="Bekeken producten" style="background-color: #97ba4c" data-moreinfo="Op web + app in de afgelopen 30 dagen"></div>
    </li>


    <!-- row 2 -->

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pipedrive-total-deal-value" data-view="Number" data-title="Commerciële omzet" style="background-color: #edbd00"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="qm-products-with-score" data-view="Meter" data-min="0" data-max="32000" data-title="Scored products" style="background-color: #367d85" data-moreinfo="Target 32.000 producten"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="qm-products-total" data-view="Number" data-title="Total products" style="background-color: #367d85"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="qm-products-barcodes" data-view="Number" data-title="Total barcodes" style="background-color: #367d85"></div>
    </li>


    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="pontje" data-view="Text" data-title="Pontje" data-moreinfo="hoe lang tot het pontje afvaart"></div>
    </li>


    <!-- row 3 -->

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mailchimp" data-view="Number" data-title="Nieuwsbriefabonnees"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="twitter-followers" data-view="Number" data-title="Twitter Followers" data-moreinfo="Number of followers on Twitter"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="facebook-shares" data-view="Number" data-title="FB Shares" data-moreinfo="Facebook shares of the website"></div>
    </li>


    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
     <div data-id="facebook-likes" data-view="Number" data-title="FB Likes" data-moreinfo="Facebook page likes"></div>
    </li>

    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
     <div data-id="uptimerobot" data-view="Uptime" data-title="Status"></div>
    </li>

  </ul>
