<% content_for :title do %>Questionmark Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/qm-logo.png"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="facebook-likes" data-view="Number" data-title="FB Likes" data-moreinfo="Questionmark Facebook page likes"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="facebook-shares" data-view="Number" data-title="FB Shares" data-moreinfo="Facebook shares of the QM website"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="twitter-followers" data-view="Number" data-title="Twitter Followers" data-moreinfo="Number of followers on Twitter"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pontje" data-view="Text" data-title="Pontje" data-moreinfo="hoe lang tot het pontje afvaart"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="qm-products-scored" data-view="Number" data-title="Scored products" style="background-color: #ff9618"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="qm-products-total" data-view="Number" data-title="Total products" style="background-color: #ff9618"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="qm-products-barcodes" data-view="Number" data-title="Total barcodes" style="background-color: #ff9618"></div>
    </li>
    
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="m-submit_product" data-view="Number" data-title="Ingezonden producten" style="background-color:#bb8e98;" data-moreinfo="Afgelopen 30 dagen"></div>
    </li>
    
  </ul>
  <center>
